{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block stylesheets %}
	{{parent()}}
    <style>

		.fb-post {
			width: 100% !important;
			height: auto !important;

		}

		 .fb-post span{
		 	width: 90% !important;
		 	//height: auto !important;
		 	
		 }
		
	    .fb-post iframe {
	    	width: 100% !important;
	    	
	    }
	    .capsula {
	    	border-radius:10px;
	    	margin-bottom:5px !important;
	    	heigh:100%;
	    	width:300px;
	    }
	    .capsula h3{
	    	color:#70c195;
	    }
	    .divisor {
	    	
	    }
    </style>
{% endblock %}
{% block content %}
<div id="fb-root" class="text-center"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12&appId=1521817874499280&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
	<div class="container">
		<div class="d-flex flex-row flex-wrap justify-content-around">
			{% for post in pagination %}
				
					<div class="d-flex flex-column p-2 text-center display capsula">
					<h3 class=""><u>{{post.titulo}}</u></h3>
					<div class="fb-post" data-href="{{post.post}}" ></div>
					</div>
   				
   				<div class="divisor"></div>
			{% endfor %}
			
		</div>
    		<div class="navigation">
				{{ knp_pagination_render(pagination) }}
			</div>
	</div>
{% endblock %}