{% extends 'FrontendBundle::arreglo.html.twig' %}
{% block content %}
<div style="background-color:#faf4ee;   ">
                              <div id="wrapper" class="container"  style="background-image: url('{{asset('bundles/F/images/template/background-wrapper.png') }}');background-repeat: no-repeat;
                background-position: center;
                background-size: cover;width:100%; " >
                
                                 

                                          <div class="row" style="margin-top:30px;">
                                                <div clas="col-md-1"> </div>
                                                <div class="col-md-3">
                                                      <img class="img-thumbnail" src="{{asset('bundles/frontend/images/nosotros/tamara-jara.png') }}">
                                                      <br>
                                                      <br>
                                                       <div style="text-align:center; color:#4c2606">
                                                            <img style="max-width:700px;max-height:900px;" src="{{asset('bundles/frontend/images/nosotros/icono-lana.png') }}">
                                                      
                                                     
                                                            <h3>-Tamara Jara-</h3>
                                                            <p>¡Hola! mi nombre es Tamara,  soy la administradora de Arphos.  Tengo 25 años, soy una persona muy responsable, muy detallista y disfruto mucho de mi trabajo. Estudio Veterinaria, en la UNNE. </p>
                                                      </div>
                                                </div>
                                                <div clas="col-md-1"></div>
                                                 <div class="col-md-7">
                                                      <h3 style="color:#70c195;font-weight: bold;">¿A QUE NOS DEDICAMOS?</h3>
                                                      <div style="width:70%;margin-left:auto;margin-right:auto;color:#d5bbaa">
                                                            <hr />
                                                      </div>
                                                      <div style="color:#4c2606">
                                                            <p >
                                                             Somos una pequeña empresa dedicada a promover la salud y bienestar de los animales domesticos a traves de los cuidados mas basicos  que pueden brindarse. Baño, peluqueria y asesoramiento. 
                                                            Si bien nuestra especialidad son los animales de edad avanzada, que requieren de un cuidado mas detallista, todos los animales tienen un lugar en nuestro corazon.
                                                            Trabajamos con accesorios de uso diario (correas, bebederos, collares, etc), con accesorios complementarios para el frio (buzos, mantas, pilotos, etc) y productos de higiene y mantenimiento del animal.
                                                            Contamos con un innovador sistema de cedulas que permite identificar al animal en una red social, generando a traves del codigo presente en la cedula, la posibilidad de encontrar al animal perdido con la ayuda de toda una comunidad.
                                                            Somos una pequeña empresa dedicada a promover la salud y bienestar de los animales domesticos a traves de los cuidados mas basicos  que pueden brindarse. Baño, peluqueria y asesoramiento. </p>
                                                      </div>
                                                      <br><br>
                                                      <h3 style="color:#70c195; font-weight: bold;" >¿POR QUE LO HACEMOS?</h3>
                                                      <div style="width:70%;margin-left:auto;margin-right:auto;color:#d5bbaa">
                                                            <hr />
                                                      </div>

                                                       <div style="color:#4c2606">
                                                            <p>

                                                             Somos una pequeña empresa dedicada a promover la salud y bienestar de los animales domesticos a traves de los cuidados mas basicos  que pueden brindarse. Baño, peluqueria y asesoramiento. 
                                                            Si bien nuestra especialidad son los animales de edad avanzada, que requieren de un cuidado mas detallista, todos los animales tienen un lugar en nuestro corazon.
                                                            Trabajamos con accesorios de uso diario (correas, bebederos, collares, etc), con accesorios complementarios para el frio (buzos, mantas, pilotos, etc) y productos de higiene y mantenimiento del animal.
                                                            Contamos con un innovador sistema de cedulas que permite identificar al animal en una red social, generando a traves del codigo presente en la cedula, la posibilidad de encontrar al animal perdido con la ayuda de toda una comunidad.
                                                            Somos una pequeña empresa dedicada a promover la salud y bienestar de los animales domesticos a traves de los cuidados mas basicos  que pueden brindarse. Baño, peluqueria y asesoramiento. </p>
                                                            <b><p>Ellos son ARPHOS y SALEM, nuestras mascotas:</p></b>
                                                             <img style="width:100%" src="{{asset('bundles/frontend/images/nosotros/mascotas.png') }}">
                                                      </div>
                                                      <div style="text-align:center;background-color:white;">
                                                           
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                  </div>
                        
                        </div>
                </div>
    
{% endblock %}
