{% extends 'FrontendBundle::template.html.twig' %}
{% block content %}
		<style type="text/css">
						a:link    {
			  /* Applies to all unvisited links */
			  text-decoration:  none;
			  font-weight:      bold;
			  color:            #d5bbaa;
			  } 

		</style>
		<div style="min-height:600px;">
			<div class="row" style="min-height:600px;margin-left:auto;margin-right:auto; margin-top:20px;background-color:#faf4ee;">
				<div class="col-md-1"></div>
				<div class="col-md-10">
		
					<div style="text-align:center;">
						<h2>
							<strong>Turnos Solicitados!</strong>
						</h2>
						<!-- <hr>
								<h5>Secci칩n actualmente en construcci칩n, contenido disponible en breve.</h5> -->
						<h5>Bienvenido a la secci칩n de turnos, aqui podr치 ver los turnos que haya solicitado:</h5>
						<br>
					</div>
					<br>
					<div class="text-align:center;">
						<table class="table-striped">
							{% if not turnos is empty %}
							<thead>
								<tr>
									<col width="300">
									<col width="300">
									<col width="300">
									<col width="300">
									<th>Fecha de turno</th>
									<th>Hora de Inicio</th>
									<th>Hora de Fin</th>
									<th>Comprobante</th>
		
								</tr>
							</thead>
							<tbody>
								{% for turno in turnos %}
								<tr>
									<td>{{turno.diayhorapiso|date("d/m/Y")}}</td>
									<td>{{turno.diayhorapiso|date("h:i")}}</td>
									<td>{{turno.horatecho|date("h:i")}}</td>
									<td><a target="_blank" href="{{path('imprimirTurno', {'id':turno.id})}}">Descargar</a></td>
								</tr>
								{% endfor %}
							</tbody>
							{% endif %}
		
						</table>
					</div>
		
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
{% endblock %}